// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$form_font: Gentium Book Basic, serif;

.form_head {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}



.input_format {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 5px;
  height: 20px;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 12px;
  font-family: $form_font;
}

.form_submit {
    text-align: center;
}

.terms {
  font-family: $form_font;
  font-size: 10px;
  text-decoration: none;
}

.button_format {
  font-family: $form_font;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 0px;
  width: 40%;
  background: white;
  box-shadow: 0px 0px 0px white;
  border: none;
  background-color: #55762b;
  color: white;
  padding: 5px;

}

.error_messages {
  font-family: $form_font;
  font-size: 11px;
  margin-top: 1px;
  color: red;
  font-weight: bold;
}

